main-yellow = #FFFA26
main-red = #F44
main-dark = #061C30
main-white = #AAA
sec-red = #FF734A


//Material colors
mat-blue-500 = #2196F3
mat-blue-700 = #1976D2
mat-blue-800 = #1565C0
mat-blue-900 = #0D47A1

mat-red-500 = #F44336
mat-red-700 = #D32F2F
mat-red-800 = #C62828
mat-red-900 = #B71C1C
