main
  padding-top 0

#login
  position absolute
  background white
  padding 120px 25px
  padding-top 110px
  width 400px
  box-sizing border-box
  left 50%
  top 50%
  transform translate(-50%, -50%)

  h2
    opacity .7
    margin-top 0
    margin-bottom 40px

  