@import 'global/variables'


body
  background #F2F2F2


main
  padding-top 50px
  width 100vw
  height calc(100vh)

  button, input[type="submit"], a.button
    background mat-blue-700
    border none
    border-radius 2px
    padding 12px 24px
    font-size 14px
    font-weight 400
    font-family Roboto
    cursor pointer
    box-shadow 0 2px 2px 0 rgba(0, 0, 0, .3)
    box-sizing border-box
    &:hover
      box-shadow 0 3px 6px 2px rgba(0, 0, 0, .33)



  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"]
    background inherit
    color inherit
    border none
    border-bottom 1px solid #AAA
    opacity .4
    padding-left 0
    font-size 16px
    &:focus
      border-bottom-color #66F
      opacity .8

  form
    .--input
      margin-top 35px

      span
        top -13px
        opacity .4
        transition all .2s ease-in-out

      input[type="text"],
      input[type="password"],
      input[type="number"],
      input[type="email"]
        &:focus
          & + span
            color #66F
            opacity .8

    .--submit
      margin-top 30px
